body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 97%;
  position: absolute;
  background-color: white;
}
header .badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #32bbf9;
  color: white;
  position: absolute;
  right: 9px;
  text-align: center;
}
header img {
  width: 40px;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

article {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 300px;
}

article span:nth-child(2) {
  margin: 5px;
}
article span:nth-child(3) {
  margin: 5px;
}

.img-container {
  background-color: #666;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 46%;
  background-position: center;
  transition: background-size 100ms ease-in;
    -moz-transition: background-size 100ms ease-in;
    -web-kit-transition: background-size 100ms ease-in
}



.product:hover .img-container,
.product:focus .img-container {
  background-size: 100%;
}

.product:hover .img-container:after {
  content: '';
  width: 300px;
  height: 200px;
  background-color:  rgba(52, 73, 94, 0.75);;
  display: block;
  position: absolute;
  opacity: .7;
}

button {
  padding: 10px;
  margin: 7px 5px;
  background-color: #007bff;
  border: 0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#products-added {
  position: absolute;
  width: 250px;
  height: 50px;
  background-color: white;
  top: 38px;
  padding: 16px;
  border-radius: 4px;
  display: none;
  box-shadow: 2px 2px 10px #ccc;
  flex-flow: wrap;
  z-index: 9;
}

.shopping-car-product {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#products-added {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  flex-flow: column;
  text-align: center;
  padding-bottom: 3rem;
}

.shopping-car-product button {
  background-color: rgb(186, 73, 53);
}

#products-added .list {
  width: 100%;
}

#product-list {
  height: 100vh;
  padding-top: 50px;
}
#btn-vaciar {
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
}
button[disabled='disabled'] {
  background-color: #accbec;
}

@media screen and (min-width: 600px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}