header {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;;
}
header .badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #32bbf9;
  color: white;
  position: absolute;
  right: 9px;
  text-align: center;
}
header img {
  width: 40px;
}
section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

article {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

article span:nth-child(2) {
  margin: 5px;
}
article span:nth-child(3) {
  margin: 5px;
}
.img-container {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#products-added {
  position: absolute;
  width: 250px;
  height: 50px;
  background-color: white;
  top: 38px;
  padding: 16px;
  border-radius: 4px;
  display: none;
  box-shadow: 2px 2px 10px #ccc;
}

#products-added div {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0;
}

.shopping-car-product {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 900px) {
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}